<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="adminMapper">
 	<select id="selectAllMember" parameterType="map" resultType="com.kiri.dto.MemberDTO">
 		select * from (select member.*, row_number() over(order by 1 desc) as num from member)
				where num between #{start} and #{end}
 	</select>
 	<select id="getPageNavi" resultType="int">
 		select count(*) as totalCnt from member
 	</select>
 	<select id="selectReport" resultType="com.kiri.dto.ReportDTO">
 		select * from report
 	</select>
 	<select id="selectReportBySeq" resultType="com.kiri.dto.ReportDTO" parameterType="int">
 		select * from report where seq_report = #{seq_report}
 	</select>
 	<insert id="insertBl" parameterType="com.kiri.dto.BlackListDTO">
 		insert into blacklist values(seq_bl.nextval, #{user_email}, sysdate, #{bl_reason})  
 	</insert>
 	<delete id="deleteReport" parameterType="int">
 		delete from report where seq_report=#{seq_report}
 	</delete>
 	<update id="updateBl" parameterType="String">
 		update member set user_blacklist='Y' where user_email=#{user_email}
 	</update>
 	<select id="searchMember" parameterType="map" resultType="com.kiri.dto.MemberDTO">
 		select * from member where
			<if test="searchType == 'all'">user_email like '%${searchKeyword}%' or user_nickname like '%${searchKeyword}%'or user_phone like '%${searchKeyword}%' </if>
			<if test="searchType != 'all'">${searchType} like '%' || #{searchKeyword} || '%'</if>
			order by 1
 	</select>
 	<select id="selectDetailMem" resultType="com.kiri.dto.MemberDTO" parameterType="String">
 		select * from member where user_email = #{user_email}
 	</select>
 	<update id="updateMem" parameterType="map">
 		update member set user_blacklist=#{user_blacklist} where user_email=#{user_email}
 	</update>
 	
 	<!-- 김영완 07_22 -->
 	<!-- 카카오맵 -->
 	<select id="selectAllGroupLocation" resultType="com.kiri.dto.AdminMainDTO">
 		select * from group_calendar join (select seq_group, group_title from tbl_group) using(seq_group)
 	</select>
 	
 	<!-- 도넛 그래프  -->
 	<select id="cntGroupCalendar" resultType="com.kiri.dto.AdminMainDTO">
 		select group_title, count(*) group_cal_cnt from group_calendar join (select seq_group, group_title from tbl_group) using(seq_group) group by group_title
 	</select>
	 	
 	<!-- 멤버 수 --> 
 	<select id="cntGroupMember" resultType="int">
 		select sum(count(*)) cntMem from group_member group by seq_group
 	</select>
 	
	<!-- 모임 수 -->
	<select id="cntGroupCnt" resultType="int">
		select sum(count(*)) cntGroup from tbl_group group by seq_group
	</select>

	<!-- 게시글 수(자유게시판) -->
	<!-- <select id="cntBoard" resultType="int">
		select sum(count(*)) cntBoard from board group by seq_board
	</select> -->
	
	<!-- 게시글 수(모임게시판) -->
	<!-- <select id="cntGroupBoard" resultType="int">
		select sum(count(*)) cntGroupBoard from group_board group by seq_group_board
	</select> -->
	
	<!-- 일정수 -->
	<select id="cntGroupCal" resultType="int">
		select sum(count(*)) cntCal from group_calendar group by seq_group
	</select>

	<!-- 선호 지역수 -->
	<select id="cntPreLocation" resultType="com.kiri.dto.SiteDTO">
		select area,count(*) as preCnt from site group by area
	</select>
	
	<!-- 로그인 로그 수 -->
	<!-- 김예원 07_26-->
	<select id="cntLoginLog" resultType="com.kiri.dto.Login_LogDTO">
			select to_char(b.dt, 'YY-MM-DD') as login_time, nvl(sum(a.cnt),0) loginCnt 
			from (SELECT TO_DATE(login_time, 'YY-MM-DD') AS login_time, count(user_email) cnt FROM login_log
		          WHERE (login_time >= TO_DATE(SYSDATE-7,'YY-MM-DD')) and login_status = '성공' GROUP BY login_time) a
		          ,(SELECT TO_DATE(sysdate-6,'YY-MM-DD') + LEVEL - 1 AS dt FROM dual 
		         <![CDATA[CONNECT BY LEVEL < = (TO_DATE(sysdate,'YY-MM-DD') - TO_DATE(sysdate-7,'YY-MM-DD'))) b]]>
		    where b.dt = a.login_time(+)
		    group by b.dt
		    order by b.dt
	</select>
 </mapper>