<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="chatMapper">
	<insert id="insert" parameterType="com.kiri.dto.Group_ChatDTO">
		insert into group_chat
			values(seq_chat.nextval, #{seq_group}, #{user_nickname}, #{message}, sysdate)
	</insert>
	<select id="selectList" parameterType="int" resultType="com.kiri.dto.Group_ChatDTO">
		select * from group_chat where seq_group = #{seq_group}
	</select>
	<select id="selectGroup" parameterType="int" resultType="com.kiri.dto.Tbl_GroupDTO">
		select * from tbl_group where seq_group = #{seq_group}
	</select>
	<select id="selectNick" parameterType="int" resultType="String">
		select * from group_member where seq_group = #{seq_group} order by 4 
	</select>
	<select id="getProfile" parameterType="String">
		select user_image from member where user_nickname=#{user_nickname}
	</select>
</mapper>