<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
   
<mapper namespace="tblGroupMapper">

	<!-- 그룹 생성 -->
	<insert id="createGroup" parameterType="com.kiri.dto.Tbl_GroupDTO">
		insert into tbl_group values(seq_group.nextval, #{user_email}, #{group_title}, #{group_info}, #{group_category}, #{group_site}, #{group_people}, #{ori_name,jdbcType = VARCHAR}, #{sys_name,jdbcType = VARCHAR} )
	</insert>
	
	<!--그룹 생성시 group_member에 호스트로 insert -->
	<insert id="insertGroupHost" parameterType="com.kiri.dto.Group_MemberDTO">
		insert into group_member values(seq_member.nextval, #{user_email}, seq_group.currval, #{user_nickname}, '주최자')
	</insert>
	
	<!-- 현재 seq_group 얻어오기 -->
	<!-- <select id="selectSeqGroup" resultType="int">
		select seq_group.nextval from dual
	</select> -->
	
	<!-- seq_group 이용해 해당 그룹 내용 가져오기 -->
	<select id="selectGroupDetail" parameterType="int" resultType="com.kiri.dto.Tbl_GroupDTO">
		select * from tbl_group where seq_group = #{seq_group}
	</select>
	
	<!-- 그룹 업데이트 -->
	<update id="updateGroup" parameterType="com.kiri.dto.Tbl_GroupDTO">
		update tbl_group set 
		<choose>
			<when test="ori_name == null" >
					group_title = #{group_title},
					group_info = #{group_info}, 
					group_category = #{group_category}, 
					group_site = #{group_site}, 
					group_people = #{group_people}
			</when>
			<otherwise>
					group_title = #{group_title},
					group_info = #{group_info}, 
					group_category = #{group_category}, 
					group_site = #{group_site}, 
					group_people = #{group_people}, 
					ori_name = #{ori_name}, 
					sys_name = #{sys_name} 
			</otherwise>
		</choose>
		where seq_group = #{seq_group}
	</update>
	
	
	
</mapper>