<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="chatMapper">
	<insert id="insert" parameterType="com.kiri.dto.Group_ChatDTO">
		insert into group_chat
			values(seq_chat.nextval, #{seq_group}, #{user_nickname}, #{message}, sysdate)
	</insert>
	<select id="selectChat" parameterType="int" resultType="com.kiri.dto.Group_ChatDTO">
		select seq_chat, seq_group, user_nickname, message, to_char(sendDate, 'am hh:mi') as sendDate from group_chat where seq_group = #{seq_group} order by 1
	</select>
	<select id="selectGroup" parameterType="int" resultType="com.kiri.dto.Tbl_GroupDTO">
		select * from tbl_group where seq_group = #{seq_group}
	</select>
	<select id="selectNick" parameterType="int" resultType="com.kiri.dto.Group_MemberDTO">
		select * from group_member where seq_group = #{seq_group} order by 4 
	</select>
	<select id="getProfileImg" parameterType="String" resultType="com.kiri.dto.MemberDTO">
		select * from member where user_nickname = #{user_nickname}
	</select>
</mapper>