<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="reportMapper">

   <!-- 신고하기 -->
   <insert id = "insertReport" parameterType = "com.kiri.dto.ReportDTO">
      insert into report values (seq_report.nextval, #{send_email}, #{receive_email}, #{report_send}, #{report_receive}, #{report_reason}, sysdate)
   </insert>

	<!-- 신고 중복검사  -->
	<select id ="selectReport" parameterType = "com.kiri.dto.ReportDTO" resultType="int">
		select count(*) from report where send_email = #{send_email} and receive_email = #{receive_email}
	</select>

</mapper>